{% extends "base.html" %}
{% block content %}
<div class="hero-text">
    <h1>Hoşgeldiniz</h1>
    <p>Bilgisayarlı görü (Computer Vision) tabanlı Otonom İş Sağlığı ve Güvenliği Denetim Sistemi'ne hoşgeldiniz! Model, şantiye ortamında baret ve iş yeleği ihlallerini tespit ederek adli kanıt kaydı oluşturur.</p>
</div>

<div class="button-group" style="margin-top: 30px;">
    <a href="/camera" class="btn btn-primary">Canlı Kontrol</a>
    <a href="/video" class="btn btn-primary">Görüntü Üzerinden Kontrol</a>
    <a href="/reports" class="btn btn-primary">Raporlar</a>
    <a href="/about" class="btn btn-primary">Sistem Hakkında</a>
</div>
{% endblock %}